.birthday-button {
  background-color: #4267b2;
  font-size: 13px;
  line-height: 32px;
  padding: 0 16px;
  border: #4267b2 1px solid;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  float: right;
  margin-top: 1rem;
}
